* {
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  text-transform: initial;

  background-color: #FFFFFF;
  min-width: 1122px;
  min-height: 1750px;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.visually-hidden {
  display: none;
}

.main-navigation,
.footer-menu ul,
.user-navigation,
.brands-logo,
.our-delivery,
.breadcrumbs,
 fieldset ul,
.catalog-list ul {
  list-style: none;
}

.first-background {
  background-color: #293449;
  width: 100%;
  height: 42px;
  margin-bottom: 45px;
}
header .first-line {
  width: 940px;
  display: flex;
  flex-directions: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.main-logo {
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-logo:hover {
  background-color: #ca2c37;
}
.main-logo:active {
  background-color: #ba2732;
}

.footer-logo {
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo:hover {
  background-color: #ca2c37;
}
.footer-logo:active {
    background-color: #ba2732;
  }

.search,
.bookmarks,
.cartcontent,
.checkout {
  font-family: Cuprum;
  font-size: 17px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}

.checkout {
  width: 150px;
  height: 42px;
  background-color: #63a63e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout:hover {
  background-color: #5fbb2d;
}
.checkout:active {
  background-color: #518534;
}

.search-ico {
  background: url("../img/icon-search.svg") no-repeat 17px #293449;
  opacity: 0.3;
  width: 271px;
  height: 42px;
  border: none;
  padding-left: 32px;
  background-position: left center;
}
.search-ico:hover {
  opacity: 1;
  color: #FFFFFF;
  width: 271px;
  height: 42px;
  border: none;
  padding-left: 32px;
  background-position: left center;
}
.search-ico:focus {
  background: url("../img/icon-search1.png") no-repeat 17px #ffFFFF;
  color: #000000;
  width: 271px;
  height: 42px;
  border: none;
  padding-left: 32px;
  background-position: left center;
}
.bookmarks {
  width: 14px;
  height: 16px;
  opacity: 0.3;
  color: #ffffff;
}
.bookmarks:hover {
  width: 14px;
  height: 16px;
  opacity: 1;
  color: #ffffff;
}

.bookmarks:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.5;
}
.cartcontent {
  width: 15px;
  height: 15px;
  opacity: 0.3;
  color: #ffffff;
}

.cartcontent:hover {
  opacity: 1;
  color: #ffffff;
}

.cartcontent:active {
  bckground-color:#161d29;
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.5;
}

.main-background {
  background-color: #f4f7f9;
  width: 100%;
  height: 320px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.short-info {
    width: 940px;
    min-height: 105px;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 10px 20px;
}
.info-line {
  width: 196px;
}
.info-line p {
  font-family: Cuprum;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
  text-align: left;
  color: #ee3643;
}
.contacts {
  border: 3px solid #FFFFFF;
  width: 270px;
  height: 45px;
  padding: 10px;
  text-align: center;
  line-height: 45px;
  display: block;
  font-family: Cuprum;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #ee3643;
}

.info-line .address {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-nav {
  font-family: Cuprum;
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: #000000;
}
.white-button {
  width: 150px;
  height: 45px;
  background-color: #FFFFFF;
  font-size: 0;
  display: inline-block;
}

.login-link {
  margin-right: 20px;
  padding-left: 14px;
  font-family: Cuprum;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  border: none;
}
.login-link:hover {
  color: #ee3643;
}
.login-link:active {
  color: #f1f5f7;
}
.registration {
  padding-left: 14px;
  font-family: Cuprum;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  border: none;
}
.registration:hover {
  color: #ee3643;
}
.registration:active {
  color: #f1f5f7;
}
.navigation {
  width: 940px;
}

.main-navigation {
  font-family: Cuprum;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
  height: 60px;
  box-shadow: inset 0px -5px 0 0 #293449;
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
  align-items: center;
}


.main-nav:hover {
  background-color: #32425c;
}
.main-nav:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.button {
  width: 220px;
  height: 38px;
  background-color: #ee3643;
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.button:hover {
  background-color: #ca2c37;
}
.button:active {
  background-color: #ba2732;
}

.features {
  background-color: #f4f7f9;
}

.company-name {
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.company-description {
  font-family: PTSans;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}
.our-delivery {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  color: #000000;
}

ul .delivery-item::before {
  display: inline-block;
  content: "";
  width: 25px;
  height: 2px;
  background: red;
  margin-right: 10px;

  vertical-align: middle;
}


footer {
  background-color: #32425c;
  color: #f3f7f9;
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  height: 300px;
}

.footer-menu1,
.footer-menu2 {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #f3f7f9;
}

.footer-menu2 a,
.mail,
.development a {
  color: #ffd180;
}

.footer-development {
  background-color: #293449;
  width: 100%;
  height: 106px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright,
.write-us,
.development {
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffFFFF;
}
.social-icon {
  background-color: #212a3a;
}
.footer1 {
  width: 960px;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.footer-info {
  width: 390px;
  height: 195px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: -25px;
}

.footer-menu1 ul {
  width: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 45px;
}

.footer-menu ul {
  width: 540px;
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}
.footer-contacts-line {
  width: 960px;
  display: flex;
  justify-content: space-around;
}

.center-container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.breadcrumbs,
.breadcrumbs a {
  font-family: PTSans;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-right: 45px;
}
.breadcrumbs {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottop: 50px;
}

.maincontent {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.catalog-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin: -10px;
}
.pages {
  background-color: #f2f6f8;

  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  color: #32425c;

  margin-bottom: 20px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  display: block;
  height: 90px;
  margin-bottom: 50px;
}

.filters h2 {
  width: 220px;
  height: 30px;
  background-color: #f7f3ec;
  text-transform: uppercase;
  font-size: 13px;
  color: #000000;
  display: block;
  text-align: left;
  line-height: 38px;
  height: 38px;
  padding-left: 18px;
}

.filters {
  font-family: PTSans;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  color: #000000;
  margin-right: 20px;

  width: 220px;
  height: 465px;
  padding: 10px;
}


.filters legend {
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

form button {
  width: 140px;
  height: 38px;
  background-color: #ffffff;
  font-family: PTSans;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.catalog-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 700px;
}

.catalog-item {
  border: 1px solid #e5e5e5;
  width: 220px;
  height: 320px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 10px;
}
.catalog-item:nth-child(3n) {
  margin-right: 0px;
}

.catalog-item h3 {
  font-family: PTSans;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
.old-price {
  font-size: 17px;
  font-weight: bold;
  line-height: 12px;
  text-align: center;
  color: #999999;
  text-decoration: line-through;
}

.price-item {
  background: url("../img/price-item.svg") no-repeat center center;
  width: 141px;
  height: 38px;
  color: #ffffff;
  text-align: center;
  padding-top: 15px;
}
a.price-item  {
  display: block;
}

.add-to-cart {
  width: 135px;
  height: 38px;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  font-family: Cuprum;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.add-to-cart:hover {
  background-color: #367315;
}
.add-to-cart:active {
  background-color: #518534;
}

.bookmarks-button {
  width: 135px;
  height: 38px;
  border: 3px solid #63a63e;
  background-color: #ffffff;

  font-family: Cuprum;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  color: #32425c;
  text-transform: uppercase;
}
.bookmarks-button:hover {
  color: #32425c;
  border-color: #32425c;
}

.catalog-item:hover{
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product-to-cart {
  background-color: #ffffff;

  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

button .checkout {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000000;

  width: 220px;
  height: 38px;
  background-color: #ffffff;
}

button .continue-shopping {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000000;

  width: 220px;
  height: 38px;
  background-color: #ee3643;
}
