* {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
outline: none;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  text-transform: initial;

  background-color: #FFFFFF;
  min-width: 1122px;
  min-height: 1750px;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.visually-hidden {
  display: none;
}

.main-navigation,
.footer-menu ul,
.user-navigation,
.brands-logo,
.our-delivery,
.breadcrumbs,
 fieldset ul,
.catalog-list ul {
  list-style: none;
}
.center-container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.first-background {
  background-color: #293449;
  width: 100%;
  height: 42px;
  margin-bottom: 28px;
}
.first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-logo {
  width: 220px;
  height: 47px;
  -webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2px;
}

.main-logo:focus,
.main-logo:hover {
  background-color: #ca2c37;
}
.main-logo:active {
  background-color: #ba2732;
}

.footer-logo {
  width: 212px;
  height: 70px;
  -webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo:focus,
.footer-logo:hover {
  background-color: #ca2c37;
}
.footer-logo:active {
    background-color: #ba2732;
  }

.search,
.bookmarks,
.cartcontent,
.checkout {
  font-family: "Cuprum";
  font-size: 17px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkout a {
  width: 150px;
  height: 42px;
  background-color: #63a63e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout a:focus,
.checkout a:hover {
  background-color: #5fbb2d;
}
.checkout a:active {
  background-color: #518534;
}
.search {
  margin-right: 15px;
}

.search-ico {
  background: url("../img/icon-search.svg") no-repeat 17px #293449;
  opacity: 0.3;
  width: 230px;
  height: 42px;
  border: none;
  background-position: 16px center;
  margin-left: -10px;
  margin-right: 15px;
  padding-left: 46px;
  font-size: 17px;
  font-family: "Cuprum";
  color: #ffffff;
}
.search-ico:hover {
  opacity: 1;
  color: #FFFFFF;
}
.search-ico:focus {
  background: url("../img/icon-search1.png") no-repeat 17px #ffFFFF;
  color: #000000;
  background-position: 10px center;
}
.bookmarks a {
  width: 140px;
  height: 41px;
  color: #ffffff;
  padding: 11px;
  padding-left: 43px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.bookmarks a::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 16px;
  width: 16px;
  height: 18px;
  background: url("../img/icon-bookmark.svg") no-repeat 14px 16px;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks a:focus::before,
.bookmarks a:hover::before {
  opacity: 1;
}

.bookmarks a:active::before {
opacity: 0.5;
}
.bookmarks:focus,
.bookmarks:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.cartcontent a {
  width: 140px;
  height: 41px;
  color: #ffffff;
  padding: 11px;
  padding-left: 48px;
  display: block;
  position: relative;
  vertical-align: middle;
}

.cartcontent a::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 16px;
  height: 18px;
  background: url("../img/icon-cart.svg") no-repeat 15px;
  background-position: 0 0;
  opacity: 0.3;
}

.cartcontent a:focus::before,
.cartcontent a:hover::before {
  opacity: 1;
}

.cartcontent a:focus,
.cartcontent a:hover {
  color: #ffffff;
}

.cartcontent a:focus::before,
.cartcontent a:active::before {
opacity: 0.5;
}

.cartcontent:focus,
.cartcontent:active {
  background-color:#161d29;
  color: rgba(255, 255, 255, 0.6);
}

.main-background {
  background-color: #f4f7f9;
  width: 100%;
  min-height: 321px;
  margin: 0;
  padding: 0;
  margin-bottom: 56px;
}
.short-info {
    width: 940px;
    min-height: 105px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 10px 10px 20px;
    margin-bottom: 26px;
}
.info-line {
  width: 197px;
  margin-left: 32px;
  font-family: "Cuprum";
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
  text-align: left;
  color: #ee3643;
}
/* .contacts-info {
  margin-left: 60px;
} */

.contacts {
  border: 3px solid #FFFFFF;
  background: url("../img/icon-phone.svg") no-repeat 16px;
  width: 270px;
  height: 45px;
  padding: 8px;
  padding-left: 35px;
  display: block;
  font-family: "Cuprum";
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #ee3643;

}

.address {
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
  padding-left: 5px;
  padding-top: 3px;
}

.user-nav {
  font-family: "Cuprum";
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: #000000;
  width: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.white-button {
  width: 144px;
  height: 45px;
  background-color: #FFFFFF;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 45px;
  cursor: pointer;
}

.login-link {
  width: 121px;
  margin-right: -7px;
  font-family: "Cuprum";
  font-size: 21px;
  line-height: 45px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  color: #000000;
  border: none;
  position: relative;
  padding-left: 30px;
}
.login-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 20px;
  height: 20px;
  background: url("../img/icon-login.svg") no-repeat 0 0;
}
.user-nav-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: -14px;
  margin-right: -11px;
}

.user-nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
}
.user-nav-item a {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-right: 16px;
  padding-left: 17px;
  padding-top: 2px;
  display: block;
  color: #32425c;
  text-decoration: underline;
  font-size: 16px;
  font-family: "Cuprum";
}
.user-nav-item a:hover {
  color: #ee3643;
}
.user-nav-item a:active {
  color: #c5c5c5;
}
.log-out:active{
  color: #c5c5c5;
}

.log-out::after {
  background: url("../img/icon-logout.png") no-repeat 0 0;
  content: "";
  position: absolute;
  top: 13px;
  right: -17px;
  width: 49px;
  height: 45px;
  border: none;
  opacity: 0.3;
}
.log-out:hover::after {
  opacity: 1;
}
.log-out {
  width: 100%;
  height: 45px;
  background-color: #ffffff;
  color: #000000;
  font-size: 21px;
  font-family: "Cuprum";
  display: block;
  vertical-align: middle;
  line-height: 45px;
  position: relative;
  padding-right: 22px;
  border: none;
}
.log-out::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 12px;
  width: 22px;
  height: 20px;
  background: url("../img/user-hover.png") no-repeat 0 0;
  opacity: 0.3;
}
.log-out:hover::before {
  opacity: 1;
}
.log-out:active::before,
.log-out:active::after {
  opacity: 0.3;
}
.login-link:focus,
.login-link:hover {
  color: #ee3643;
}
.login-link:active {
  color: #f1f5f7;
}

.login-link:focus::before,
.login-link:hover::before {
  background: url("../img/icon-login-hover.png") no-repeat 0 0;
  top: 9px;
  left: 18px;
  height: 20px;
}
.login-link:active::before {
  background: url("../img/icon-login.svg") no-repeat 0 0;
  top: 12px;
  left: 18px;
  width: 20px;
  height: 20px;
}

.registration {
  font-family: "Cuprum";
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  border: none;
  padding-left: 14px;
}

.registration:focus,
.registration:hover {
  color: #ee3643;
}
.registration:active {
  color: #f1f5f7;
}

.main-navigation {
  font-family: "Cuprum";
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
  -webkit-box-shadow: inset 0px -5px 0 0 #293449;
          box-shadow: inset 0px -5px 0 0 #293449;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-navigation li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.main-navigation a {
  display: block;
  vertical-align: middle;
  text-align: center;
  display: block;
  height: 60px;
  line-height: 54px;
}

.main-navigation a:focus,
.main-navigation a:hover {
  background-color: #293449;
}
.main-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.button {
  width: 220px;
  height: 38px;
  background-color: #ee3643;
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.button:focus,
.button:hover {
  background-color: #ca2c37;
}
.button:active {
  background-color: #ba2732;
}

footer {
  background-color: #32425c;
  color: #f3f7f9;
  font-family: "Cuprum";
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  height: 300px;
}
.footer-nav {
  margin-right: 6px;
}

.footer-menu1,
.footer-menu2 {
  font-family: "Cuprum";
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #f3f7f9;
}

.footer-menu2 a,
.mail,
.development a {
  color: #ffd180;
}

.footer-development {
  background-color: #293449;
  width: 100%;
  height: 113px;
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright,
.write-us,
.development {
  font-family: "Cuprum";
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffFFFF;
}
.write-us,
.development {
  width: 140px;
}
.development {
  margin-right: -30px;
}
.write-us {
  margin-right: -74px;
}
.copyright {
  width: 230px;
}
.footer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer-info {
  width: 390px;
  height: 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: -20px;
}
.footer-contacts {
  padding-bottom: 22px;
  padding-left: 0px;
}

.footer-menu1 ul {
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 37px;
  margin-right: 3px;
  margin-bottom: -10px;
}
.footer-menu2 {
  padding-left: 22px;
}

.footer-menu ul {
  width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 34px;
}

.footer-menu li:focus,
.footer-menu li:hover {
  text-decoration: underline;
}
.footer-menu li:active {
  text-decoration: none;
  opacity: 0.5;
}

.mail:focus,
.development a:focus,
.mail:hover,
.development a:hover {
  text-decoration: underline;
}
.mail:active,
.development a:active{
  text-decoration: none;
  color: #e53643;
}
.footer-contacts-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.social-icon {
  width: 126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 35px;
  list-style: none;
}
.social-icon a {
  display: block;
}

.social-icon-vk {
  background: url("../img/icon-vk.svg") no-repeat center #212a3a;
  width: 42px;
  height: 42px;
  border: 1px solid #212a3a;
  border-radius: 25px;
  margin-right: 4px;
}

.social-icon-fb {
  background: url("../img/icon-fb.svg") no-repeat center #212a3a;
  width: 42px;
  height: 42px;
  border: 1px solid #212a3a;
  border-radius: 25px;
  margin-right: 2px;
}
.social-icon-insta {
  background: url("../img/icon-insta.svg") no-repeat center #212a3a;
  width: 42px;
  height: 42px;
  border: 1px solid #212a3a;
  border-radius: 25px;
  margin-right: 0;
}

.social-icon a:focus,
.social-icon a:hover {
  background-color: #ee3643;
}
.social-icon a:active {
  background-color: #ee3643;
}

.breadcrumbs,
.breadcrumbs a {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;

}
.breadcrumbs a {
  margin-right: 33px;
}
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 23px;
  margin-top: -36px;
}
.breadcrumbs a::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  line-height: 12px;
  width: 7px;
  height: 12px;
  background: url("../img/icon-right-small.svg") no-repeat center;
  -webkit-transform: translate(20px, -2px);
      -ms-transform: translate(20px, -2px);
          transform: translate(20px, -2px);
}
.breadcrumbs li:last-child a::after {
  display: none;
}
.maincontent {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.catalog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pages {
  background-color: #f2f6f8;
  width: 940px;
  font-family: "Cuprum";
  font-size: 30px;
  text-transform: uppercase;

  text-align: left;
  color: #32425c;
  display: inline-block;
  vertical-align: middle;
  padding-left: 28px;
  line-height: 85px;
  margin-bottom: 20px;
}
.sort {
  color: #000000;
  width: 700px;
  height: 38px;
  background-color: #f7f3ec;
  font-family: "PT Sans";
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
  padding-left: 8px;
  margin-bottom: 20px;
}
.sort .sort-name {
  padding-left: 11px;
}

.choose {
  margin-left: auto;
}

.choose__link {
  margin-left: 64px;
}

.choose__link:first-child {
  margin-left: 0;
}

.sort-up-down {
  margin-left: 32px;
}

.sort-up-down a {
 display: inline-block;
 vertical-align: middle;
 margin-right: 3px;
 margin-left: 15px;
}

.up-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5.5px 10px 5.5px;
  border-color: transparent transparent #c5c5c5 transparent;
}

.down {
  border-width: 10px 5.5px 0 5.5px;
  border-color: #c5c5c5 transparent transparent transparent;
}

.by-price,
.by-type,
.by-function {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}
.choosen {
  border-color: transparent transparent #ee3643 transparent;
}
.by-price.choosen {
  color: #ee3643;
  border: none;
}
.filters .filter-title {
  width: 220px;
  height: 38px;
  background-color: #f7f3ec;
  font-family: "PT Sans";
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 8px;
  margin-bottom: 17px;
  padding-left: 18px;
}

.filter-group {
  border-top: 1px solid #c5c5c5;
  padding-top: 20px;
}
.filters {
  font-family: "PT Sans";
  font-size: 15px;
  text-align: left;
  color: #000000;
  width: 220px;
  height: 465px;
  border: none;
}
.label-price {
  display: block;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.range-controls {
  position: relative;
  height: 80px;
  padding-top: 39px;
  background-color: #f7f3ec;
  border-radius: 5px;
  margin-bottom: 9px;
  padding-right: 20px;
  padding-left: 20px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 85%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border-radius: 50%;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  position: absolute;
  top: 31px;
  left: 0;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-controls input {
  font-family: "PT Sans";
  font-size: 17px;
  text-align: center;
  color: #000000;
  width: 95px;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}
.price-controls .min-price::after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 1px;
  background: #444444;
  margin: 10px;
  margin-bottom: 18px;
  text-align: center;
  vertical-align: middle;
}
.product-filter-price {
  margin-bottom: 25px;
  border: none;
}

.filters .model {
  height: 240px;
  border-bottom: 1px solid #c5c5c5;
  border: none;
}

.filters .power {
  height: 190px;
  border: none;
  margin-top: 4px;
  margin-bottom: -14px;
}

.checkbox-input {
 display: none;
}

.filter-checkbox {
 background: url("../img/checkbox-off.svg") no-repeat left top;
 width: 28px;
 height: 23px;
 text-align: left;
 background-size: 24px 23px;
}

.checkbox-input:checked + .filter-checkbox {
 background-image: url("../img/checkbox-on.svg");
 background-size: 28px 23px;
}

.radio-button {
 display: none;
}

.filter-radio {
 background: url("../img/radio-off.svg") no-repeat center;
 width: 25px;
 height: 25px;
}

.radio-button:checked + .filter-radio {
 background: url("../img/radio-on.svg") no-repeat center;
}



.filters legend {
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}
.filter-choose-item {
  padding-bottom: 13px;
}
.by-bosh {
  padding-top: 12px;
}
.radio-choose {
  margin-top: 10px;
}
.power.label {
  margin-top: 12px;
}
.form-button {
  width: 140px;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
}
.catalog-list {
  width: 700px;
}

.catalog-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-item {
  border: 1px solid #e5e5e5;
  width: 220px;
  height: 320px;
  margin-bottom: 19px;
  padding: 1px;
  cursor: pointer;
  position: relative;
}

.catalog-item:nth-child(3n) {
  margin-right: 0px;
}

.catalog-item h3 {
  width: 160px;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  padding-top: 2px;
  text-align: center;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
}
.old-price {
  font-size: 17px;
  font-weight: bold;
  line-height: 12px;
  text-align: center;
  color: #999999;
  text-decoration: line-through;
  margin-bottom: -5px;
  padding-top: 15px;
}

.price-item {
  background: url("../img/price-item.svg") no-repeat center center;
  width: 141px;
  height: 38px;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 38px;
  margin: 35px;
  position: absolute;
  top: 223px;
  left: 7px;
}
a.price-item  {
  display: block;
}

.catalog-item:focus .buy-now,
.catalog-item:hover .buy-now {
  display: block;
}

.catalog-item:focus .buy-now,
.catalog-item:hover .catalog-item-image {
  opacity: 0;
}

.buy-now {
  position: absolute;
  top: 5px;
  left: 42px;
  width: 145px;
  height: 100px;
  padding: 41px 0;
  display: none;
  z-index: 100;
  border-radius: 20px;
}

.add-to-cart {
  width: 135px;
  height: 38px;
  padding-left: 2px;
  -webkit-box-shadow: inset 0px -3px 0 0 #367315;
          box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
}
.add-to-cart::before {
  content: "";
  position: absolute;
  left: 13px;
  top: 50px;
  width: 16px;
  height: 18px;
  background: url("../img/icon-cart.svg") no-repeat center;
  background-position: 0 0;
  opacity: 0.3;
}

.add-to-cart:focus,
.add-to-cart:hover {
  background-color: #5fbb2d;
}

.add-to-cart:focus::before,
.add-to-cart:hover::before {
  opacity: 1;
}
.add-to-cart:active {
  background-color: #518534;
}

.bookmarks-button {
  width: 135px;
  height: 38px;
  border: 3px solid #63a63e;
  background-color: #ffffff;

  font-family: "Cuprum";
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  color: #32425c;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}
.bookmarks-button:focus,
.bookmarks-button:hover {
  color: #32425c;
  border-color: #32425c;
}
.bookmarks-button:active {
  opacity: 0.3;
}

.catalog-item:focus,
.catalog-item:hover{
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.product-to-cart {
  background-color: #ffffff;

  font-family: "Cuprum";
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

button .checkout {
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000000;

  width: 220px;
  height: 38px;
  background-color: #ffffff;
  cursor: pointer;
}

button .continue-shopping {
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000000;

  width: 220px;
  height: 38px;
  background-color: #ee3643;
  cursor: pointer;
}
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 300px;
  margin-top: 28px;
  margin-bottom: 57px;
}

.pagination-button a {
  font-family: "PT Sans";
  font-size: 13px;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 38px;
  width: 38px;
  margin-right: 10px;
}

.pagination-button.current a {
  background-color: #ee3643;
  color: #ffffff;
  font-size: 13px;
  margin-right: 10px;
  width: 38px;
}

.pagination-button.next {
  width: 140px;
  text-transform: uppercase;
  font-family: "PT Sans";
  font-size: 13px;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 38px;
}


.pagination-button.next:focus,
.pagination-button a:focus,
.pagination-button.next:hover,
.pagination-button a:hover {
  border-color: #bdc6ca;
}

.pagination-button.next:active,
.pagination-button a:active {
  border-color: #ee3643;
}
.page-background {
  background-color: #f4f7f9;
  width: 100%;
  min-height: 263px;
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

.page-description {
  background-color: #f4f7f9;
  color: #000000;
  padding-top: 69px;
  padding-right: 130px;
  margin-bottom: 1px;
}

.page-description h2 {
  font-family: "Cuprum";
  font-size: 30px;
  text-align: left;
  padding-bottom: 30px;
  font-weight: normal;
}
.page-description p {
  font-family: "PT Sans";
  font-size: 13px;
  text-align: left;
}
.simple-block {
  font-family: "Cuprum";
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  display: block;
  position: relative;
  width: 300px;
  height: 124px;
  padding-left: 23px;
  padding-top: 25px;
}
.simple-block-title {
  font-weight: normal;
  letter-spacing: -1px;
}
.simple-block-button {
  width: 139px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "Cuprum";
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 38px;
  margin-top: 16px;
  cursor: pointer;
}

.simple-block-button:focus,
.simple-block-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.simple-block-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials {
  background-color: #ffbf47;
  position: relative;
}
.materials-icon {
  background: url("../img/icon-1.svg") no-repeat center;
  width: 44px;
  height: 65px;
  position: absolute;
  top: 30px;
  right: 45px;
}
.materials .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
  position: absolute;
  width: 60px;
  height: 59px;
  top: 0px;
  right: 0px;
}
.instruments {
  background-color: #3bbce3;
  position: relative;
}
.instruments-icon {
    background: url("../img/icon-2.svg") no-repeat center;
    width: 75px;
    height: 61px;
    position: absolute;
    top: 35px;
    right: 29px;
}
.for-buildings {
  background-color: #dc91d8;
  position: relative;
}
.for-buildings-icon {
  background: url("../img/icon-3.svg") no-repeat center;
  width: 78px;
  height: 62px;
  position: absolute;
  top: 34px;
  right: 30px;
}
.promotions {
  background-color: #8ed78f;
  position: relative;
}
.promotions-icon {
  background: url("../img/icon-4.svg") no-repeat center;
  width: 59px;
  height: 72px;
  position: absolute;
  top: 30px;
  right: 45px;
}
.shipping {
  background-color: #ffc047;
  position: relative;
}
.shipping-icon {
  background: url("../img/icon-5.svg") no-repeat center;
  width: 78px;
  height: 63px;
  position: absolute;
  top: 34px;
  right: 31px;
}
.slider {
	width: 621px;
	height: 265px;
	margin: auto;
	margin-top: 24px;
	position: relative;
	overflow: hidden;
}
.slide  {
	width: 621px;
	height: 265px;
	position: absolute;
	top: 0;
	left: 0;
  display: block;
  padding-top: 24px;
  padding-left: 25px;
}

.slide2 {
  background: url("../img/perforator-slide2.jpg") no-repeat center;
}
.slide1 {
  background: url("../img/drell-slide1.jpg") no-repeat center;
}
.slider-button  {
  width: 195px;
  height: 38px;
  background-color: #ee3643;
  border: 1px solid #ee3643;
  border-radius: 5px;
  font-family: "Cuprum";
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 38px;
  margin-right: 23px;
  margin-top: 120px;
  cursor: pointer;
}

.slider-button:focus,
.mainpage-button:focus,
.slider-button:hover,
.mainpage-button:hover {
  background-color: #ca2c37;
  border-color: #ca2c37;
}
.slider-button:active,
.mainpage-button:active {
  background-color: #ba2732;
  border-color: #ba2732;
}
.gallery-button-next {
  font-size: 0;
  background: url("../img/icon-right.svg") no-repeat center;
  width: 22px;
  height: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
}
.gallery {
  position: relative;
  list-style: none;
}
.gallery-button-back {
  background: url("../img/icon-left.svg") no-repeat center;
  width: 22px;
  height: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
}
.slide h2 {
color: #ffffff;
font-family: "Cuprum";
font-size: 36px;
text-transform: uppercase;
padding-bottom: 10px;
}
.slide p {
  color: #ffffff;
  font-family: "Cuprum";
  font-size: 18px;
}
.banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 410px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 56px;
  margin-top: 56px;
}
.banners-part1 {
  width: 621px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.simple1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 621px;
}
.banners-part2 {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mainpage-title {
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}
.mainpage-title h2 {
  font-family: "Cuprum";
  font-size: 30px;
  line-height: 84px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
  display: block;
  text-align: left;
  vertical-align: middle;
  margin-left: 28px;
}
.mainpage-button {
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 5px;
  font-family: "Cuprum";
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 38px;
  margin-top: 23px;
  margin-right: 23px;
  cursor: pointer;
}

.popular-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}
.brands-logo {
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 83px;
  margin-top: -22px;
}

.brands-logo-image {
  width: 220px;
  height: 145px;
  border: solid 1px #eaeaea;
  display: block;
  text-align: center;
  vertical-align: middle;
  margin-top: 23px;
  padding-top: 10px;
  line-height: 145px;
}

.brands-logo-image-interskol {
  padding-top: 10px;
}
.brands-logo-image-lg {
  padding-top: 20px;
}

.brands-logo-image-aeg {
  padding-top: 5px;
}

.brands-logo-image-metabo {
  padding-top: 17px;
}
.brands-logo-image::nth-child(4n) {
  margin-right: 0px;
}

.brands-logo-image:focus,
.brands-logo-image:hover {
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.brands-logo-image:active {
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.features {
  padding-top: 65px;
  height: 520px;
}
.features-title {
  font-family: "Cuprum";
  font-size: 30px;
  color: #000000;
  padding-bottom: 29px;
  text-transform: uppercase;
}

.features-desriptions {
  font-family: "PT Sans";
  font-size: 13px;
  color: #000000;
  width: 400px;
}
.short-service-info {
  margin-bottom: 72px;
}
.features-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.service-features {
  list-style: none;
  font-family: "Cuprum";
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
}
.service-features-description {
  list-style: none;
}
.shadow-item {
  background: url(../img/shadow.png) no-repeat center;
  position: absolute;
  top: -50px;
  left: 231px;
  width: 10px;
  height: 279px;
}
.service {
  display: block;
  width: 240px;
  height: 61px;
  line-height: 57px;
  vertical-align: middle;
  padding-left: 21px;
  background-color: #405069;
  border: 1px solid #32425c;
}

.service:focus,
.service:hover {
  background-color: #293449;
}
.service-active,
.service:active {
  background-color: #ffffff;
  color: #32425c;
  border: none;
}
.desription-title {
  font-family: "Cuprum";
  font-size: 36px;
  text-transform: uppercase;
  color: #32425c;
  padding-bottom: 30px;
}
.features-content.description-service-item {
  font-family: "PT Sans";
  font-size: 13px;
  color: #000000;
}
.delivery-description {
  margin-right: 348px;
  margin-top: 3px;
  width: 270px;
  position: relative;
  display: block;
}
.delivery-machine {
  background: url(../img/delivery-machine.png) no-repeat center;
  position: absolute;
  top: 19px;
  left: 150px;
  width: 468px;
  height: 261px
}
.info-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 82px;
  margin-bottom: 88px;
}
.about-us {
  width: 550px;
}
.company-name {
  font-family: "Cuprum";
  font-size: 30px;
  color: #000000;
  padding-bottom: 30px;
}
.company-description {
  font-family: "PT Sans";
  font-size: 13px;
  color: #000000;
  padding-bottom: 21px;
  width: 591px;
}
.company-description:last-of-type {
  margin-top: -17px;
}
.contacts-map .company-description {
  width: 180px;
  width: 180px;
  margin-bottom: 10px;
  margin-top: -1px;
}
.our-delivery {
  font-family: "Cuprum";
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  color: #000000;
  margin-bottom: 41px;
}

.delivery-item {
  padding-bottom: 22px;
}
.delivery-item::before {
  display: inline-block;
  content: "";
  width: 25px;
  height: 2px;
  background: red;
  margin-right: 10px;

  vertical-align: middle;
}
.company-info {
  width: 220px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Cuprum";
  font-size: 14px;
  display: block;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  margin-top: -26px;
  text-transform: uppercase;
}
.contacts-map {
  width: 300px;
}

.write-us-popup {
  width: 100%;
  background-color: #ee3643;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Cuprum";
  font-size: 14px;
  text-align: center;
  margin-top: 34px;
  text-transform: uppercase;
}
.modal {
  position: fixed;
  color: #000000;
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.modal-close {
  position: absolute;
  top: 0;
  right: 4px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #ee3643;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.map-popup {
  top: 455px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 940px;
  height: 446px;
}

.map-popup p {
  margin: 0;
}
.modal-write-us {
  width: 620px;
  height: 430px;
  color: #000000;
  font-family: "Cuprum";
  font-size: 18px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  top: 200px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 50px 80px;
  border-top: 7px solid #ee3643;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.user {
  width: 220px;
}

.modal-user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  width: 460px;
}
.user input[type="text"],
.user input[type="email"] {
  height: 38px;
  width: 100%;
  border: 2px solid #dee3e4;
  padding: 0 13px;
  font-family: "PT Sans";
  font-size: 13px;
  margin-top: 10px;
}

.user input[type="text"]:focus,
.user input[type="email"]:focus,
.user input[type="text"]:hover,
.user input[type="email"]:hover {
  border-color: #b5b5b5;
}
.user input[type="text"]:active,
.user input[type="email"]:active {
  border-color: #ee3643;
}
.letter textarea {
  border: 2px solid #dee3e4;
  padding: 13px 13px;
  width: 100%;
  height: 115px;
  font-family: "PT Sans";
  font-size: 13px;
  resize: vertical;
  max-height: 115px;
  margin-top: 10px;
}

.letter textarea:focus,
.letter textarea:hover {
  border-color: #b5b5b5;
}
.letter textarea:active {
  border-color: #ee3643;
}
.modal-background {
  height: 112px;
  background-color: rgb(244, 244, 244);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 10px;
}
.modal-send-button {
  width: 460px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  font-family: "Cuprum";
  font-size: 14px;
  display: block;
  line-height: 38px;
  vertical-align: middle;
  text-align: center;
  margin-top: 30px;
  margin-left: 80px;
  border: 1px solid #ee3643;
  border-radius: 5px;
  cursor: pointer;
}

..modal-send-button:focus,
.modal-send-button:hover {
  background-color: #ca2c37;
}
.modal-send-button:active {
  background-color: #ba2732;
}
.product-to-cart {
  width: 620px;
  height: 280px;
  color: #000000;
  font-family: "Cuprum";
  font-size: 18px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 50px 80px;
  border-top: 7px solid #ee3643;
  z-index: 100;
}
.added {
  margin-top: 30px;
  margin-bottom: 45px;
  font-family: "Cuprum";
  font-size: 30px;
}
.added::before {
  content: "";
  position: absolute;
  background: url("../img/added-to-cart.png") no-repeat center;
  top: 60px;
  left: 80px;
  width: 67px;
  height: 67px;
}
.button-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 70px;
  background-color: #f1f1f1;
  height: 112px;
  width: 100%;
  padding-top: 30px;
}
.checkout-actions,
.continue-shopping {
  width: 220px;
  height: 38px;
  display: block;
  line-height: 38px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.checkout-actions {
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  font-family: "Cuprum";
  border: 1px solid #ee3643;
  border-radius: 2px;
  text-transform: uppercase;
  border-radius: 5px;
}
.continue-shopping {
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  font-family: "Cuprum";
  border-radius: 2px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
}

.slider-radio {
  position: absolute;
  top: 216px;
  left: 295px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  width: 30px;
  height: 10px;

}
.slider-dot {
  width: 10px;
  height: 10px;
  background: #ffffff;
  display: block;
  margin: 0 auto;
  border: 0;
  border-radius: 50%;
  margin-top: 60px;
}

.slider-dot.active {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-dot.active:before {
  display: block;
  content: '';
  width: 6px;
  height: 6px;
  background: #ee3643;
  border-radius: 50%;
}
